*.swp
.repo/
firmware/
fx2lib/
sdcc/
libusb/
tags
.ant-targets-build.xml
hex2bix/
build.docopt/
docopt/
host.installed/
build.hex2bix/
target.installed/
fx2tools/
build.firmware/
cycfx2prog-0.47/cycfx2dev.o
cycfx2prog-0.47/cycfx2prog
cycfx2prog-0.47/cycfx2prog.o
prebuilts/
build.libftdi/
libftdi/
build.eeprom/
eeprom/
build.ftdi_eeprom/
verifyfirmware.tmp
